
@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url('css/vendor/Google-Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url('css/vendor/Google-Fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url('css/vendor/Google-Fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: ABeeZee;
    src: url('css/vendor/Google-Fonts/ABeeZee/ABeeZee-Regular.ttf');
}


/*#ff6766*/
.special-font {
    font-family: 'ABeeZee', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: #ffc426; /* WebKit/Blink Browsers */
    color: white;
}

::-moz-selection {
    background: #ffc426; /* Gecko Browsers */
    color: white;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.font-lg {
    font-size: 40px;
}

@media (max-width: 1000px) {
    .font-lg {
        font-size: 30px;
    }
}

.font-md-lg {
    font-size: 22px;
}

.font-lg-md {
    font-size: 30px;
}

@media (max-width: 770px) {
    .font-lg-md {
        font-size: 22px;
    }
}

.font-md {
    font-size: 18px;
}

@media (max-width: 770px) {
    .font-md {
        font-size: 15px;
    }
}

.font-md-sm {
    font-size: 15px;
}

.font-sm {
    font-size: 14px;
}

.g {
    background: #ffc014; /* Old browsers */
    background: -moz-linear-gradient(left, #ffc014 0%, #d24b5a 50%, #ff9400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffc014 0%, #d24b5a 50%, #ff9400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffc014 0%, #d24b5a 50%, #ff9400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc014', endColorstr='#ff9400', GradientType=1); /* IE6-9 */
}

.color-acccent-bg {
    background-color: #ffbf61;
}

.color-acccent-3-bg {
    background-color: #ffe197;
}

.color-white-bg {
    background-color: white !important;
}

.color-acccent-2-bg {
    background-color: #ffc426 !important;
}

.color-grey-bg {
    background-color: #545454;
}

.color-acccent-c {
    color: #ffbf61;
}

.color-acccent-2-c {
    color: #ffc426;
}

.color-white-c {
    color: white;
}

.color-grey-c {
    color: #545454;
}

.color-lightgrey-c {
    color: #9e9c9c;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.header-email {
    padding-top: 5px;
    overflow: hidden;
    width: 100%;
    height: 40px;
    font-size: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    transition: 300ms ease-in;
}

.header-email.hide-scroll {
    height: 0 !important;
    transition: 300ms ease-out;
}

.header-email .mail {
    color: #5070b0;
}

.prejunct {
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.mail:before {
    color: white;
    padding: 0 5px;
    content: "\f0e0";
    font-family: FontAwesome;
}

.mail a {
    text-decoration: none;
    color: black;
}

@media (max-width: 770px) {
    .header-email {
        display: none;
    }
}

.icon-bar1 {
    transition: 400ms ease;
    transform: rotate(0deg);
}

.icon-bar3 {
    transition: 400ms ease;
    transform: rotate(0deg);
}

.icon-bar1.active {
    transition: 400ms ease;
    transform: rotate(45deg) translate(1px, 2px)
}

.icon-bar2.icon-bar.active {
    display: none;
}

.icon-bar3.active {
    transition: 400ms ease;
    transform: rotate(-45deg) translate(3px, -4px);
}

.navbar-fixed-top {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
}

.navbar-default .navbar-nav .dropdown li > a {
    padding: 20px 20px;
}

.navbar-default .dropdown-menu {
    margin-top: 10px;
}

.navbar-default img {
    width: 220px;
    height: 70px;
    padding-top: 10px;
    margin-left: 25px;
}

@media (max-width: 770px) {
    .navbar-default img {
        width: 160px;
        height: 67px;
        padding: 10px 0;
        margin-left: 0px;
    }
}

.navbar-default .navbar-toggle:hover {
    background-color: inherit;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav li > a {
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 40px;
}

.navbar-default .navbar-nav > .active > a {
    border-bottom: solid 4px #ff9800;
    border-radius: 0;
    background-color: #f1f1f1;
}

button.navbar-toggle.collapsed {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    margin: 0;
    padding-left: 18px;
    border-radius: 0;
    background-color: #ff9800;
}

button.navbar-toggle.collapsed:focus {
    background-color: #ff9800;
}

button.navbar-toggle.collapsed:hover {
    background-color: #ffb344;
}

/* The side navigation menu */
.sidenav {
    bottom: 0;
    top: 67px;
    right: 0;
    height: auto;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5;
    background-color: #f8f8f8; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

@media (min-width: 770px) {
    .sidenav {
        display: none;
    }
}

/* The navigation menu links */
.sidenav .main-sidenav {
    height: 30%;
    width: 100%;
}

.sidenav .main-sidenav a {
    padding: 15px 15px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .side-nav-dropdown a {
    padding: 15px 15px 8px 50px;
}

.sidenav .main-sidenav li.active a {
    padding: 15px 15px 8px 30px;
    font-weight: 600;
    border-left: solid 4px #ff9800;
    background-color: rgba(4, 4, 4, 0.03);
}

.sidenav .main-sidenav .side-nav-dropdown .active a {
    padding: 15px 15px 8px 45px;
}

.sidenav .main-sidenav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-sidenav {
    width: 100%;
    height: 60%;
    color: grey;
}

.footer-sidenav .mail-me {
    padding-left: 32px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.footer-sidenav .mail-me span {
    font-size: 16px;
    display: block;
}

.footer-sidenav .mail-me .mail:before {
    color: grey;
    padding-right: 10px;
    content: "\f0e0";
    font-family: FontAwesome;
}

.sidenav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background-color: black; /* Black*/
    display: block;
    opacity: 0;
    transition: 400ms ease-out;
}

.sidenav-overlay.active {
    transition: 400ms ease-in;
    width: 20%;
    opacity: 0.6;
}

@media (min-width: 770px) {
    .sidenav-overlay {
        display: none;
    }
}

#main {
    padding-top: 87px;
}

@media (max-width: 770px) {
    #main {
        padding-top: 50px;
    }
}

.btn.outline {
    background: none;
    padding: 12px 22px;
    border: 2px solid #ffc426;
}

.hero-btn-text {
    margin: 0;
}

.btn.outline:hover {
    color: #ffc426;
}

.btn.outline:active, .btn.outline:focus {
    outline: 0;
    border-color: #ffc426;
    color: #ffc426;
    box-shadow: none;
}

button:focus {
    outline: 0 !important;
}

.hero-btn-text:after {
    padding: 0px 0px 0px 10px;
    content: "\f01a";
    display: inline-block;
    font-family: FontAwesome;
}

.hero-home {
    border-bottom: solid lightgray 1px;
    margin-bottom: 100px;
}

.hero-home .video-wrapper {
    height: 700px;
    padding: 0;
    overflow-x: hidden;
}

@media (max-width: 770px) {
    .hero-home .video-wrapper {
        height: 400px;
    }
}

#particles-js {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.hero-image-text-overlay {
    top: 100px;
    position: absolute;
    width: 100%;
    color: white;
    z-index: 3;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.box-hero {
    min-height: 260px;
}

.box-hero button {
    bottom: 0px;
    position: absolute;
    pointer-events: auto;
}

@media (max-width: 770px) {
    .box-hero {
        min-height: 200px;
    }

}

.hero-home .video-wrapper {
    overflow: hidden;
}

.hero-home .video-wrapper img {
    width: 100%;
    height: 100%;
}

.video-wrapper video {
    position: absolute;
    top: -30px;
    left: 0;
    height: 1000px;
    pointer-events: none;
}

@media (min-width: 1700px) {
    .hero-home .video-wrapper video {
        height: 100vw;
    }
}

@media (max-width: 1200px) {
    .hero-home .video-wrapper video {
        height: 800px;
    }
}

@media (max-width: 800px) {
    .hero-home .video-wrapper video {
        height: 730px;
    }
}

@media (max-width: 770px) {
    .hero-home .video-wrapper video {
        height: 530px;
    }
}

@media (max-width: 770px) {
    .hero-home .video-wrapper {
        height: 400px;
    }
}

.hero-home .slogan-wrapper {
    min-height: 500px;
}

.typed-cursor {
    display: inline;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 40px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 770px) {
    .hero-home .slogan-wrapper {
        min-height: 200px;
    }
}

.hero-home .slogan-wrapper .title {
    display: inline;
}

.hero-home .slogan-wrapper .text-box {
    margin-top: 120px;
}

@media (max-width: 770px) {
    .hero-home .slogan-wrapper .text-box {
        margin-top: 0;
        padding-top: 120px;
        padding-bottom: 20px;
    }
}

.hero-home .slogan-wrapper .sub-title {
    margin-top: 20px;
    color: grey;
}

.hero-home .slogan-wrapper .btn {
    margin-top: 5px;
}

.motivation-wrapper {
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
}

#block-three-column {
    min-height: 500px;
    width: 100%;
    display: block;
    padding: 100px 0px 200px 0px;
    position: relative;
}

@media (max-width: 770px) {
    #block-three-column {
        padding: 100px 0px 100px 0px;
    }
}

#block-three-column .text-section {
    margin-left: 10px;
}

#block-three-column .font-md > p {
    padding-left: 5px;
}

#block-three-column .sense-text-box {
    margin-bottom: 30px;
}

.circle {
    width: 50px;
    height: 50px;
    text-align: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    margin-top: -50px;
    margin-right: 30px;
    cursor: pointer;
    float: right;
}

.col-circle {
    box-shadow: 2px 3px 8px #3e3d3d;
    line-height: 50px;
}

.col-circle:before {
    font-family: FontAwesome;
    content: "\f105";
    font-size: 20px;
    color: black;
}

#block-three-column .col {
    width: 350px;
    height: 500px;
    background-color: white;
    margin: 10px 10px;
    float: left;
    transition: 0.2s ease-out;
}

@media (min-width: 1200px) {
    #block-three-column .col:hover {
        margin-top: -10px;
        transition: 0.1s ease-in;
    }
}

@media (max-width: 990px) {
    #block-three-column .col {
        width: 300px;
    }
}

@media (max-width: 550px) {
    #block-three-column .col {
        width: 100%;
        margin: 10px 0;
    }
}

#block-three-column .col-image {
    width: 100%;
    background-color: rgba(0, 6, 190, 0.15);
    overflow: hidden;
    height: 200px;
}

#block-three-column .col-image img {
    width: 100%;
    position: relative;
    min-height: 200px;
    z-index: 1;
}

#block-three-column .col-text {
    padding: 20px 20px;
}

#block-three-column h2 {
    margin-bottom: 20px;
}

.sense-text-box .small-title {
    text-transform: uppercase;
}

.sense-text-box .big-title {
    padding-top: 45px;
    max-width: 300px;
}

.sense-text-box .border {
    height: 2px;
    width: 60px;
    background-color: #347ab8;
    display: block;
}

.diensten-detail-page .border {
    height: 3px;
    width: 60px;
    margin: 20px 0;
    background-color: #347ab8;
    display: block;
}

.border-center {
    height: 3px;
    width: 100px;
    background-color: #347ab8;
    display: block;
    margin: 25px auto;
}

.cta-sense {
    display: block;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.cta-sense:after {
    content: "\f138";
    font-family: FontAwesome;
    font-size: 16px;
    padding-left: 10px;
}

.sense-text-box .description {
    margin: 0;
    padding: 20px 0;
}

.sense-text-box .description a {
    padding-top: 10px;
    display: block;
}

.portfolio-wrapper {
    margin-bottom: 100px;
}

.portfolio-wrapper div {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.portfolio-wrapper .main-case {
    height: 497px;
    margin-right: 10px;
    clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);

}

.cornered {
    -webkit-clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
}

.portfolio-wrapper .textoverlay {
    position: absolute;
    color: white;
    width: 100%;
    bottom: 50px;
    left: 20px;
}

.special-button {
    background-color: #ffa92b;
    border-color: #ffa92b;
    color: black;
    border-radius: 0;
    border-bottom-left-radius: 10px;
}

.special-button .fa {
    display: inline-block;
    padding-left: 5px;
}

@media (max-width: 770px) {
    .btn-responsive {
        padding: 10px 10px;
        font-size: 100%;
        line-height: 1;
    }
}

.portfolio-wrapper .second-case .textoverlay,
.portfolio-wrapper .thirth-case .textoverlay {
    bottom: 20px;
}

.portfolio-wrapper div img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    display: block;
}

@media (max-width: 770px) {
    .portfolio-wrapper div img {
        min-height: 100%;
        height: auto !important;
    }

    .portfolio-wrapper .col-md-12 {
        padding: 0;
    }

    .portfolio-wrapper .grid-item {
        height: 300px;
    }

    .portfolio-wrapper .main-case {
        height: 300px;
    }

    .portfolio-wrapper .textoverlay {
        bottom: 20px;
        width: 90%;
    }

}

@media (max-width: 990px) {
    .portfolio-wrapper .main-case {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 770px) {
    .portfolio-wrapper .main-case {
        margin-right: 0;
    }
}

.portfolio-wrapper .second-case {
    margin-bottom: 10px;
}

@media (max-width: 990px) {
    .portfolio-wrapper .second-case {
        border-right: white solid 2px;
        height: 240px;
    }
}

@media (max-width: 770px) {
    .portfolio-wrapper .second-case {
        border-right: none;
    }
}

.portfolio-wrapper .thirth-case {
    height: 240px;
}

@media (max-width: 990px) {
    .portfolio-wrapper .thirth-case {
        border-left: white solid 2px;
        height: 240px;
    }
}

@media (max-width: 770px) {
    .portfolio-wrapper .thirth-case {
        border-left: none;
    }
}

footer.site-footer {
    min-height: 500px;
}

footer.site-footer {
    color: #b3b3b3;
}

footer .follows {
    position: relative;
    padding-top: 30px;
    min-height: 100px;
}

footer .follows p {
    display: inline-block;
}

footer .follows .fa {
    color: #ffbc6b;
    margin-left: 10px;
    font-size: 24px;
}

footer .site-info {
    min-height: 250px;
}

footer .extra-footer {
    padding-top: 30px;
    min-height: 100px;
}

footer .extra-footer p {
    padding-top: 20px;
}

footer.site-footer ul {
    list-style: none;
    padding: 0;
}

footer.site-footer li {
    padding: 5px 0;
    font-size: 16px;
    color: white;

}

footer.site-footer a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

footer.site-footer a:hover {
    color: #ffbc6b;
}

footer.site-footer .border {
    height: 1px;
    width: 100%;
    background-color: #777777;
    display: block;
}

.portfolio-page {
    margin-top: 60px;
}

.portfolio-page .row {
    margin: 0 -15px;
}

.portfolio-page .btn {
    background-color: #ffa92b;
    border-color: #ffa92b;
    color: black;
    border-radius: 0;
    border-bottom-left-radius: 10px;
}

.grid {
    margin-bottom: 150px;
}

.grid-item {
    border: solid 1px #d6d6d6;
    height: 400px;
    float: left;
    background: #CCC;
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

.grid-item.hhalf {
    height: 250px;
}

.grid-item.htwo {
    height: 420px;
}
@media (min-width: 1400px) {
    .grid-item.htwo {
        height: 520px;
    }
}
@media (max-width: 990px) {
    .grid-item.htwo {
        height: 470px;
    }
}

.grid-item.h2 {
    height: 350px;
}

.grid-item img {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    display: block;
}

@media (max-width: 990px) {
}

@media (max-width: 770px) {
    .grid-item {
        margin: 0;
        height: auto;
        min-height: 200px;
        margin-bottom: 10px;
    }

    .grid-item.h2 {
        height: auto;
        min-height: 200px;
    }

    .grid-item.hhalf {
        height: auto;
        min-height: 250px;
    }

    .grid-item.htwo {
        height: auto;
        min-height: 250px;
    }

    .grid-item img {
        min-height: 250px;
    }

}

.grid-item .image-text-overlay-left {
    z-index: 3;
    position: absolute;
    bottom: 20px;
    left: 16px;
    max-width: 500px;
}

.grid-item .image-text-overlay-left p {
    font-weight: 400;
}

.grid-item .image-text-overlay-left .border {
    width: 80%;
    height: 2px;
}

.grid-item figure {
    /*position: relative;*/
    /*z-index: 2;*/
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.grid-item figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.grid-item figure:hover::before {
    -webkit-animation: circle .5s;
    animation: circle .5s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.gradiant {
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 1) 173%); /* FF3.6+ */
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 1) 173%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 1) 173%); /* Opera 11.10+ */
    background: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 1) 173%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 1) 173%); /* W3C */
}

.contact-page .contact-info {
    background-color: #efefef;
    display: inline-block;
    padding: 20px 0px 20px 5px;
}

.contact-page .email-direct:before {
    padding-right: 10px;
    font-size: 22px;
    content: "\f0e0";
    color: #0177ab;
    font-family: FontAwesome;
}

.contact-page .telephone:before {
    padding-right: 10px;
    font-size: 25px;
    content: "\f098";
    color: #0177ab;
    font-family: FontAwesome;
}

.contact-page .row {
    height: 100%;
}

.contact-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-wrapper input[type="submit"] {
    margin-top: 30px;
}

.contact-wrapper input {
    font-size: 18px;
    margin: 10px 0px;
    border-radius: 0;
    border: solid 1px #0085bf;
    height: 50px;
}

.contact-wrapper textarea {
    font-size: 18px;
    margin: 10px 0px;
    border-radius: 0;
    border: solid 1px #0085bf;
}

.full-maps {
    padding-right: 0px;
    height: 1200px;
}

@media (max-width: 770px) {
    .full-maps {
        padding-left: 0;
        height: 300px
    }
}

.row-slider {
    padding-top: 50px;
    background-color: #ececec;
    margin-bottom: 50px;
}

@media (max-width: 770px) {
    .row-slider {
        margin-bottom: 30px;
    }
}

.owl-carousel .item {
    height: 500px;
}

@media (max-width: 770px) {
    .owl-carousel .item {
        height: 300px;
        margin: 0 10px;
    }
}

.pretty-text {
    line-height: 1.7;
    font-family: 'Roboto';
}

.owl-carousel {
    margin: auto;
    max-width: 600px;
    text-align: center;
}

.owl-carousel .owl-dots {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.owl-carousel .owl-dot {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: inline-block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-carousel img {
}

.owl-carousel .owl-dot.active {
    background-color: #ff7b03;
}

.detail-page-info {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

.detail-page .container-fluid {
    padding: 0;
}

.detail-page .label {
    padding: 5px 20px;
    margin: 5px 2px;
    display: inline-block;
    font-weight: 400;
}

.breadcrumb {
    margin-bottom: 30px;
    padding: 0;
}

.detail-page-techniques {
    float: left;
    padding: 50px 0;
    min-height: 650px;
    width: 100%;
    background-color: lightgrey;
    display: inline-block;
}

.detail-page-blocks-wrapper {
    margin-top: 100px;
}

@media (max-width: 770px) {
    .detail-page-blocks-wrapper {
        margin-top: 0px;
    }
}

.detail-page-blocks-wrapper img {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 770px) {
    .detail-page-blocks-wrapper img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
}

@media (min-width: 1500px) {
    .detail-page-blocks-wrapper img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
}

.info-text {
    margin-top: 100px;
}

@media (max-width: 770px) {
    .info-text {
        margin-top: 10px;
    }
}

.detail-page-properties {
    float: left;
    padding: 50px 0;
    min-height: 650px;
    width: 100%;
    background-color: #e5e5e5;
    display: inline-block;
}

.wanna-know-more-block {
    margin: 130px 0;
    width: 100%;
    display: inline-block;
    list-style: none;
}

.wanna-know-more-block .fa-chevron-circle-right {
    margin-right: 10px;
}

@media (max-width: 770px) {
    .wanna-know-more-block {
        margin: 30px 0;
    }
}

.stylelist ul {
    list-style: none;
    padding: 0;
}

.stylelist li:before {
    padding: 0px 11px 0px 0px;
    content: "\f0a9";
    color: #0177ab;
    font-family: FontAwesome;
    font-size: 20px;
}

.diensten-detail-page .container-fluid {
    padding: 0;
}

.diensten-detail-page .description {
    margin-bottom: 50px;
}

.faq ul {
    list-style: none;
    padding: 0;
}

.faq ul li:nth-child(odd):before {
    padding: 0px 11px 0px 0px;
    content: "\f059";
    color: #0177ab;
    font-family: FontAwesome;
    font-size: 25px;
}

.faq ul li:nth-child(odd) {
    font-weight: 500;
    font-size: 25px;
}

@media (max-width: 770px) {
    .faq ul li:nth-child(odd) {
        font-size: 20px;
    }
}

.faq ul li:nth-child(even) {
    padding: 9px 0px 10px 32px;
}

.block-wrapper {
    padding: 100px 0;
    width: 100%;
    background-color: #e5e5e5;
}

#main .panel {
    border-color: lightgrey;
}

#main .panel-heading {
    background-color: white;
    color: black;
}

.header-img-wrapper {
    margin-bottom: 50px;
    display: block;
    overflow: hidden;
    height: 400px;
    width: 100%;
    float: left;
}

@media (max-width: 770px) {
    .header-img-wrapper {
        max-height: 300px;
    }
}

.header-img-wrapper img {
    width: 100%;
    height: auto;
    min-height: 300px;
}

.z-index-block {
    z-index: 2;
}

.diensten-detail-page .title-description {
    margin-top: 50px;
}

.overlay-text-description {
    font-weight: 400;
    margin-top: 5px;
}

.text-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    padding-top: 150px;
    width: 100%;
    height: 486px;
}

.header-img-wrapper .text-overlay {
    border-top-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 34px 53px 65px 35px;
    min-width: 300px;
}

@media (max-width: 770px) {

    .text-wrapper {
        padding-top: 80px;
    }

    .header-img-wrapper .text-overlay {
        display: inline-block;
        padding: 20px 49px 49px 30px;
        min-width: 200px;
    }
}

.header-img-wrapper .img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 488px;
    background-color: black;
    overflow: hidden;
    opacity: 0.5;
}

@media (max-width: 770px) {
    .header-img-wrapper .img-overlay {
        height: 350px;
    }
}

.font-bold {
    font-weight: 500;
}

.cta-btn {
    outline: none;
    border: none;
}

.prijzen-page .motivation-wrapper {
    margin-top: 40px;
    margin-bottom: 10px;
}

.prijzen-page .motivation-wrapper .border-center {
    width: 40px;
}

.full-block {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;

}

.prices-titles-wrapper {
    margin-bottom: 40px;
}

.prices-title {
    color: #347ab8;
}

.prijzen-page .motivation-wrapper .big-title {
    padding: 15px 0px;
}

.prijzen-page .motivation-wrapper .description {
    padding-left: 0;
}

.color-lightgrey-bg {
    background-color: lightgrey;
}

.widget-programming-in {
    display: inline-block;
    margin: 50px 0;
    position: relative;
}

.widget-programming-in div {
    margin: 20px;
    min-width: 90px;
}

.widget-programming-in .item {
    display: none;
}

@media (max-width: 770px) {
    .widget-programming-in div {
        margin: 10px;
        min-width: 80px;
    }
}

.widget-programming-in img {
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s;
    opacity: 0.7;
}

.widget-programming-in img:hover {
    transition: 0.1s;
    opacity: 1;
}

.stappen-description-wrapper {
    margin-top: 60px;
}

.circlewrapper {
    margin-top: 60px;
    margin-bottom: 80px;
}

.circletag {
    display: none;
    margin: 0;
    width: 120px;
    height: 120px;
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
}

.circletag:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .6);
}

.circletag img {
    margin-top: 20px;
    width: 70px;
    height: auto;
}

.stappen-text {
    margin-top: 40px;
}

.stappen-text span {
    display: block;
}

.stappen-box {
    margin-bottom: 140px;
}

.stappen-box a {
    position: absolute;
    z-index: 3;
    width: 120px;
    display: block;
    height: 100%;
}

.stappen-box .tooltip {
    color: black;
    font-size: 18px;
}

.stappen-box .tooltip-inner {
    background-color: black;
    color: white;
    padding: 10px;
}

.stappen-box .tooltip.top .tooltip-arrow {
    border-top-color: black;
}

@media (max-width: 990px) {
    .voordelen-block {
        margin-bottom: 50px;
    }
}

@media (max-width: 770px) {
    .circletag {
        width: 80px;
        height: 80px;
    }

    .stappen-box a {
        width: 80px;
    }

    .stappen-box .tooltip {
        font-size: 14px;
    }

    .circletag img {
        margin-top: 15px;
        width: 50px;
        height: auto;
    }

    .stappen-box {
        margin-bottom: 130px;
    }
}



